.vti__dropdown {
    @apply relative flex cursor-pointer flex-col justify-center hover:dark:bg-gray-800;
}

.vti__dropdown.show {
    @apply overflow-scroll;
}

.vti__dropdown.open {
    @apply dark:bg-gray-800;
}

.vti__dropdown.disabled {
    @apply cursor-no-drop bg-gray-100 outline-0 dark:bg-gray-600;
}

.vti__selection {
    @apply flex items-center justify-center;
}

.vti__selection .vti__country-code {
    @apply bg-gray-600;
}

.vti__flag {
    @apply mx-3;
}

.vti__dropdown-list {
    @apply absolute z-10 m-0 max-h-48 w-96 overflow-y-scroll rounded-md border border-gray-300 bg-white p-0 text-left shadow-2xl dark:border-gray-700 dark:bg-gray-800;
}

.vti__dropdown-list.below {
    top: 33px;
}

.vti__dropdown-list.above {
    top: auto;
    bottom: 100%;
}

.vti__dropdown-arrow {
    transform: scaleY(0.5);
    display: inline-block;
    color: #666;
}

.vti__dropdown-item {
    @apply hover:bg-primary-600 cursor-pointer p-1 text-sm hover:text-white;
}

.vti__dropdown-item.last-preferred {
    border-bottom: 1px solid #cacaca;
}

.vti__dropdown-item .vti__flag {
    display: inline-block;
    margin-right: 5px;
}
